In [5]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import StratifiedShuffleSplit

In [18]:
dataset = pd.read_csv('census.csv')
dataset.shape

(32561, 15)

In [11]:
dataset['income'].value_counts()

income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

In [12]:
7841/len(dataset), 24720/len(dataset)

(0.2408095574460244, 0.7591904425539756)

Caso quisermos um número específico de amostras, podemos usar o exemplo da linha abaixo, com 100 amostras:

In [30]:
100/len(dataset)

0.0030711587481956942

Acima, está a porcentagem para ser utilizada no test_size.

Test_size significa a quantidade deamostra da população que queremos. 1 significa 100 porcento.

In [31]:
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)
for x, y in split.split(dataset, dataset['income']):
    df_x = dataset.iloc[x] #iloc () é um método de seleção baseado em indexação, o que significa que temos que passar um índice inteiro no método para selecionar uma linha/coluna específica.
    df_y = dataset.iloc[y]

In [32]:
df_x.shape, df_y.shape #o y é a nossa amostra, que equivale a 10 porcento da base de dados, enquanto x fica com os 90 porcento.

((32461, 15), (100, 15))

Em Machine Learning, usariamos a base x para fazer o treinamento e y para fazer o teste.

In [33]:
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
8438,41,Private,213055,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,Other,Female,0,0,50,United-States,<=50K
28103,52,Self-emp-not-inc,183146,12th,8,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
23605,20,Private,127185,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,15,United-States,<=50K
25006,27,Private,210498,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,40,United-States,>50K
13595,29,Self-emp-not-inc,58744,Assoc-acdm,12,Never-married,Other-service,Own-child,White,Male,0,0,60,United-States,<=50K

In [34]:
df_y['income'].value_counts()

income
 <=50K    76
 >50K     24
Name: count, dtype: int64

Ou seja, ele dividiu proporcionalmente as 100 amostras segundo a propriedade 'income'.

In [ ]:
def amostragem_estratificada(dataset, percentual):