In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [23]:
dataset = pd.read_csv('census.csv')

In [24]:
dataset2 = dataset[['education','income']]

In [26]:
dataset2.shape

(32561, 2)

In [27]:
dataset2.head()

    education  income
0   Bachelors   <=50K
1   Bachelors   <=50K
2     HS-grad   <=50K
3        11th   <=50K
4   Bachelors   <=50K

In [28]:
dataset3 = dataset2.groupby(['education','income'])['education'].count()

O .groupby irá relacionar as classes de uma coluna de registros com a da outra, mostrando a quantidade caso pedido.

In [32]:
dataset3

education      income
 10th           <=50K     871
                >50K       62
 11th           <=50K    1115
                >50K       60
 12th           <=50K     400
                >50K       33
 1st-4th        <=50K     162
                >50K        6
 5th-6th        <=50K     317
                >50K       16
 7th-8th        <=50K     606
                >50K       40
 9th            <=50K     487
                >50K       27
 Assoc-acdm     <=50K     802
                >50K      265
 Assoc-voc      <=50K    1021
                >50K      361
 Bachelors      <=50K    3134
                >50K     2221
 Doctorate      <=50K     107
                >50K      306
 HS-grad        <=50K    8826
                >50K     1675
 Masters        <=50K     764
                >50K      959
 Preschool      <=50K      51
 Prof-school    <=50K     153
                >50K      423
 Some-college   <=50K    5904
                >50K     1387
Name: education, dtype: int64

In [33]:
dataset3.index #Mostras os indices possíveis

MultiIndex([(        ' 10th', ' <=50K'),
            (        ' 10th',  ' >50K'),
            (        ' 11th', ' <=50K'),
            (        ' 11th',  ' >50K'),
            (        ' 12th', ' <=50K'),
            (        ' 12th',  ' >50K'),
            (     ' 1st-4th', ' <=50K'),
            (     ' 1st-4th',  ' >50K'),
            (     ' 5th-6th', ' <=50K'),
            (     ' 5th-6th',  ' >50K'),
            (     ' 7th-8th', ' <=50K'),
            (     ' 7th-8th',  ' >50K'),
            (         ' 9th', ' <=50K'),
            (         ' 9th',  ' >50K'),
            (  ' Assoc-acdm', ' <=50K'),
            (  ' Assoc-acdm',  ' >50K'),
            (   ' Assoc-voc', ' <=50K'),
            (   ' Assoc-voc',  ' >50K'),
            (   ' Bachelors', ' <=50K'),
            (   ' Bachelors',  ' >50K'),
            (   ' Doctorate', ' <=50K'),
            (   ' Doctorate',  ' >50K'),
            (     ' HS-grad', ' <=50K'),
            (     ' HS-grad',  ' >50K'),
            (     ' Masters', ' <=50K'),
            (     ' Masters',  ' >50K'),
            (   ' Preschool', ' <=50K'),
            ( ' Prof-school', ' <=50K'),
            ( ' Prof-school',  ' >50K'),
            (' Some-college', ' <=50K'),
            (' Some-college',  ' >50K')],
           names=['education', 'income'])

In [37]:
dataset3[' Bachelors', ' <=50K'], dataset3[' Bachelors', ' >50K']

(3134, 2221)

In [38]:
3134+2221

5355

In [39]:
(3134/5355)*100 #Para quem recebe <=50K.

58.52474323062559

In [40]:
(2221/5355)*100 #Para quem recebe >50K.

41.47525676937442