In [39]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import statistics

In [40]:
dataset = pd.read_csv('census.csv')
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [41]:
dataset_age = pd.DataFrame(dataset['age'])
dataset_age.head()

   age
0   39
1   50
2   38
3   53
4   28

Média aritmética:

In [42]:
dataset_age.mean()

age    38.581647
dtype: float64

Média harmônica:

In [43]:
from scipy.stats import hmean

In [44]:
hmean(dataset_age)[0]

33.91874139089839

Média geométrica:

In [45]:
from scipy.stats import gmean

In [46]:
gmean(dataset_age)[0]

36.210879158177256

Média quadrática:

In [47]:
np.quantile(dataset_age, 0.25)

28.0

In [48]:
np.quantile(dataset_age, 0.50)

37.0

In [49]:
np.quantile(dataset_age, 0.75)

48.0

Mediana:

In [52]:
np.median(dataset_age)

37.0

Moda:

In [56]:
stats.mode(dataset_age)[0][0]

36