In [47]:
import numpy as np
import pandas as pd
import math
import statistics
from scipy import stats

In [48]:
dados = np.array([160, 165, 167, 164, 160, 166, 160, 161, 150, 152, 173, 160, 155,
                  164, 168, 162, 161, 168, 163, 156, 155, 169, 151, 170, 164,
                  155, 152, 163, 160, 155, 157, 156, 158, 158, 161, 154, 161, 156, 172, 153])

In [49]:
dados = np.sort(dados)
dados

array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
       157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
       163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
       173])

In [50]:
minimo = dados.min()
maximo = dados.max()
i = 6 #Número de classes
AA = maximo - minimo
h = math.ceil(AA/i)
intervalos = np.arange(minimo,maximo+2,step = h)
minimo, maximo, intervalos

(150, 173, array([150, 154, 158, 162, 166, 170, 174]))

In [51]:
inferior = intervalos[0:len(intervalos)-1]
superior = intervalos[1:len(intervalos)]
inferior, superior

(array([150, 154, 158, 162, 166, 170]), array([154, 158, 162, 166, 170, 174]))

In [52]:
fi = [0]*i
for j in range(len(dados)):
    if dados[j] >= inferior[0] and dados[j] < superior[0]:
        fi[0] += 1
    if dados[j] >= inferior[1] and dados[j] < superior[1]:
        fi[1] += 1
    if dados[j] >= inferior[2] and dados[j] < superior[2]:
        fi[2] += 1
    if dados[j] >= inferior[3] and dados[j] < superior[3]:
        fi[3] += 1
    if dados[j] >= inferior[4] and dados[j] < superior[4]:
        fi[4] += 1
    if dados[j] >= inferior[5] and dados[j] < superior[5]:
        fi[5] += 1

fi

[5, 9, 11, 7, 5, 3]

In [53]:
estatura = []
for z in range(len(fi)):
    estatura.append(str(inferior[z]) + '-' + str(superior[z]))

estatura

['150-154', '154-158', '158-162', '162-166', '166-170', '170-174']

In [54]:
dataset = pd.DataFrame({'Estatura (cm)': estatura, 'fi': fi})

In [55]:
dataset

  Estatura (cm)  fi
0       150-154   5
1       154-158   9
2       158-162  11
3       162-166   7
4       166-170   5
5       170-174   3

In [56]:
dataset['xi'] = (superior + inferior)/2
dataset['fi.xi'] = dataset['xi']*dataset['fi']
dataset

  Estatura (cm)  fi     xi   fi.xi
0       150-154   5  152.0   760.0
1       154-158   9  156.0  1404.0
2       158-162  11  160.0  1760.0
3       162-166   7  164.0  1148.0
4       166-170   5  168.0   840.0
5       170-174   3  172.0   516.0

Cálculo da frequência acumulada

In [57]:
frequencia_acumulada = []
for i in range(len(dataset)):
    if i == 0:
        frequencia_acumulada.append(fi[i])
    else:
        frequencia_acumulada.append(fi[i] + frequencia_acumulada[i-1])
        
dataset['Fi'] = frequencia_acumulada
dataset

  Estatura (cm)  fi     xi   fi.xi  Fi
0       150-154   5  152.0   760.0   5
1       154-158   9  156.0  1404.0  14
2       158-162  11  160.0  1760.0  25
3       162-166   7  164.0  1148.0  32
4       166-170   5  168.0   840.0  37
5       170-174   3  172.0   516.0  40

# MÉDIA

In [58]:
mean = dataset['fi.xi'].sum()/dataset['fi'].sum()
mean

160.7

# MODA

In [59]:
dataset[dataset['fi'] == dataset['fi'].max()]

  Estatura (cm)  fi     xi   fi.xi  Fi
2       158-162  11  160.0  1760.0  25

In [60]:
mode = dataset[dataset['fi'] == dataset['fi'].max()]['xi'].values[0]
mode

160.0

# MEDIANA

In [61]:
fi_2 = dataset['fi'].sum()/2
fi_2

20.0

In [62]:
limite_inferior, frequencia_classe, id_frequencia_anterior, contador = 0, 0, 0, 0
for linha in dataset.iterrows():
    limite_inferior = inferior[contador]
    frequencia_classes = linha[1][1]
    id_frequencia_anterior = linha[0]
    if linha[1][4] >= fi_2:
        id_frequencia_anterior -= 1
        break
    contador += 1

In [63]:
limite_inferior, frequencia_classes, id_frequencia_anterior, contador

(158, 11, 1, 2)

In [64]:
Fi_anterior = dataset.iloc[[id_frequencia_anterior]]['Fi'].values[0]
Fi_anterior

14

In [65]:
mediana

160.1818181818182

# FUNÇÃO COM OS 3:

In [72]:
def statistics(dataframe, inferior, h):
    mean = dataframe['fi.xi'].sum()/dataframe['fi'].sum()
    
    mode = dataframe[dataframe['fi'] == dataframe['fi'].max()]['xi'].values[0]
    
    fi_2 = dataframe['fi'].sum()/2
    limite_inferior, frequencia_classes, id_frequencia_anterior, contador = 0, 0, 0, 0
    for linha in dataframe.iterrows():
        limite_inferior = inferior[contador]
        frequencia_classes = linha[1][1]
        id_frequencia_anterior = linha[0]
        if linha[1][4] >= fi_2:
            id_frequencia_anterior -= 1
            break
        contador += 1
    Fi_anterior = dataframe.iloc[[id_frequencia_anterior]]['Fi'].values[0]
    mediana = limite_inferior + ((fi_2 - Fi_anterior) * h) / frequencia_classes
    return mean, mode, mediana

In [73]:
statistics(dataset, inferior, h)

(160.7, 160.0, 160.1818181818182)