In [8]:
import numpy as np
import pandas as pd
import math
from scipy import stats

In [9]:
dados = np.array([160, 165, 167, 164, 160, 166, 160, 161, 150, 152, 173, 160, 155,
                  164, 168, 162, 161, 168, 163, 156, 155, 169, 151, 170, 164,
                  155, 152, 163, 160, 155, 157, 156, 158, 158, 161, 154, 161, 156, 172, 153])

In [10]:
np.median(dados)

160.0

In [11]:
np.quantile(dados, 0.5)

160.0

In [12]:
np.percentile(dados, 50)

160.0

In [13]:
np.percentile(dados, 5), np.percentile(dados, 10), np.percentile(dados, 90)

(151.95, 152.9, 168.1)

In [14]:
stats.scoreatpercentile(dados, 5), stats.scoreatpercentile(dados, 10), stats.scoreatpercentile(dados, 90)

(151.95000000000002, 152.89999999999998, 168.1)

In [15]:
dataset = pd.DataFrame(dados)
dataset.head()

     0
0  160
1  165
2  167
3  164
4  160

In [16]:
dataset.quantile([0.05, 0.10, 0.90])

           0
0.05  151.95
0.10  152.90
0.90  168.10