In [1]:
import pandas as pd
import numpy as np

In [2]:
dados ={'emprego': ['Administrador Banco de dados','Programador','Arquiteto de redes'], 
        'Nova Jersey': [97350,82080,112840],
        'Florida': [77140,71540,62310]}

In [4]:
type(dados) #Retornará dicionários, pois é composto por uma sequência de chaves e valores.

dict

In [8]:
dataset = pd.DataFrame(dados)

In [9]:
dataset

                        emprego  Nova Jersey  Florida
0  Administrador Banco de dados        97350    77140
1                   Programador        82080    71540
2            Arquiteto de redes       112840    62310

In [10]:
dataset['Nova Jersey'].sum()

292270

In [11]:
dataset['Florida'].sum()

210990

In [16]:
dataset['% Nova Jersey'] = (dataset['Nova Jersey'] / dataset['Nova Jersey'].sum()) * 100

In [17]:
dataset['% Florida'] = (dataset['Florida'] / dataset['Florida'].sum()) * 100

In [18]:
dataset

,emprego,Nova Jersey,Florida,% Nova Jersey,% Florida
0,Administrador Banco de dados,97350,77140,33.308242,36.560974
1,Programador,82080,71540,28.083621,33.906820
2,Arquiteto de redes,112840,62310,38.608136,29.532205