In [5]:
import numpy as np
import pandas as pd
import math
from scipy import stats

In [6]:
dados = np.array([160, 165, 167, 164, 160, 166, 160, 161, 150, 152, 173, 160, 155,
                  164, 168, 162, 161, 168, 163, 156, 155, 169, 151, 170, 164,
                  155, 152, 163, 160, 155, 157, 156, 158, 158, 161, 154, 161, 156, 172, 153])

dados = np.sort(dados)

minimo = dados.min()
maximo = dados.max()
i = 6 #NÃºmero de classes
AA = maximo - minimo
h = math.ceil(AA/i)
intervalos = np.arange(minimo,maximo+2,step = h)

inferior = intervalos[0:len(intervalos)-1]
superior = intervalos[1:len(intervalos)]

fi = [0]*i
for j in range(len(dados)):
    if dados[j] >= inferior[0] and dados[j] < superior[0]:
        fi[0] += 1
    if dados[j] >= inferior[1] and dados[j] < superior[1]:
        fi[1] += 1
    if dados[j] >= inferior[2] and dados[j] < superior[2]:
        fi[2] += 1
    if dados[j] >= inferior[3] and dados[j] < superior[3]:
        fi[3] += 1
    if dados[j] >= inferior[4] and dados[j] < superior[4]:
        fi[4] += 1
    if dados[j] >= inferior[5] and dados[j] < superior[5]:
        fi[5] += 1

estatura = []
for z in range(len(fi)):
    estatura.append(str(inferior[z]) + '-' + str(superior[z]))

dataset = pd.DataFrame({'Estatura (cm)': estatura, 'fi': fi})

dataset['xi'] = (superior + inferior)/2
dataset['fi.xi'] = dataset['xi']*dataset['fi']

frequencia_acumulada = []
for i in range(len(dataset)):
    if i == 0:
        frequencia_acumulada.append(fi[i])
    else:
        frequencia_acumulada.append(fi[i] + frequencia_acumulada[i-1])
        
dataset['Fi'] = frequencia_acumulada
dataset

  Estatura (cm)  fi     xi   fi.xi  Fi
0       150-154   5  152.0   760.0   5
1       154-158   9  156.0  1404.0  14
2       158-162  11  160.0  1760.0  25
3       162-166   7  164.0  1148.0  32
4       166-170   5  168.0   840.0  37
5       170-174   3  172.0   516.0  40

In [15]:
def get_quartil(dataframe, q1 = True):
    if q1 == True:
        fi_4 = dataframe['fi'].sum() / 4
    else:
        fi_4 = (3 * dataframe['fi'].sum()) / 4
        
    limite_inferior, frequencia_classe, id_frequencia_anterior, contador = 0, 0, 0, 0
    for linha in dataframe.iterrows():
        limite_inferior = inferior[contador]
        frequencia_classe = linha[1][1]
        id_frequencia_anterior = linha[0]
        if linha[1][4] >= fi_4:
            id_frequencia_anterior -= 1
            break
        contador += 1
    Fi_anterior = dataframe.iloc[[id_frequencia_anterior]]['Fi'].values[0]
    q = limite_inferior + ((fi_4 - Fi_anterior) * h) / frequencia_classe
    
    return q

In [16]:
get_quartil(dataset), get_quartil(dataset, q1 = False)

(156.22222222222223, 164.85714285714286)