In [21]:
import numpy as np
import pandas as pd
import math
from scipy import stats

In [22]:
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155, 155]
dados_impar

[150, 151, 152, 152, 153, 154, 155, 155, 155]

CÃ¡lculo manual

In [23]:
np.median(dados_impar)

153.0

In [24]:
posicao_mediana = math.floor(len(dados_impar)/2)
posicao_mediana

4

In [25]:
esquerda = dados_impar[0:posicao_mediana]
direita = dados_impar[posicao_mediana + 1:]
esquerda, direita

([150, 151, 152, 152], [154, 155, 155, 155])

In [26]:
np.median(esquerda), np.median(direita)

(151.5, 155.0)

Utilizando as bibliotecas:

In [27]:
np.quantile(dados_impar, 0.5)

153.0

In [28]:
np.quantile(dados_impar, 0.75)

155.0

In [29]:
np.quantile(dados_impar, 0.25)

152.0

In [30]:
esquerda2 = dados_impar[0:posicao_mediana + 1]
esquerda2

[150, 151, 152, 152, 153]

In [31]:
np.median(esquerda2)

152.0

Agora no Scipy:

In [33]:
stats.scoreatpercentile(dados_impar, 25), stats.scoreatpercentile(dados_impar, 50), stats.scoreatpercentile(dados_impar, 75)

(152.0, 153.0, 155.0)

Agora no Pandas:

In [34]:
dataset = pd.DataFrame(dados_impar)
dataset

     0
0  150
1  151
2  152
3  152
4  153
5  154
6  155
7  155
8  155

In [35]:
dataset.quantile([0.25,0.5,0.75])

          0
0.25  152.0
0.50  153.0
0.75  155.0

In [36]:
dataset.describe()

                0
count    9.000000
mean   153.000000
std      1.870829
min    150.000000
25%    152.000000
50%    153.000000
75%    155.000000
max    155.000000